@media screen and (max-width: 468px) {
    .nav_links li:not(:first-child) {display: none;}
    .nav_links li.icon {
      float: right;
      display: block;
    }
    .contactButton {
        display: none;
    }
}
@media screen and (max-width: 675px) {
    header{
        display:flex;
        justify-content: space-between;
    }
    .nav_links li:not(:first-child) {display: none;}
    .nav_links li.icon {
      float: right;
      display: block;
    }
    .contactButton {
        display: none;
    }
}
@media screen and (min-width: 675px) {
    .DropDownMenu {
        display: none;
    }
    #Drop_menu_icon {
        display:none;
    }
}
@media screen and (min-width: 1024px) {
    #Drop_menu_icon {
        display:none;
    }
    body{
        font-size: 2rem;
    }
}