
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:black;
}
body {
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
    background-color: black;
    color: limegreen;
    line-height: 1.5;
}
.logo {
    margin-right: auto;
}
li, a {
    text-decoration: none;
    color: limegreen;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:30px 10%;
}
.nav_links {
list-style: none;
text-decoration: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: rgba(50, 205, 50, .8);
   
}
#Drop_menu_icon:hover, #Drop_menu_icon:focus {
    background-color: rgba(50, 205, 50, 0.8);
}
.DropDown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-right: 0px;
    list-style-type: none;
}
.DropDownMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    height: 40px;
    ;
}
.DropDownMenu {
    display: none;
    position: relative;
    background-color: rgb(50,205,50,.2)
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(50, 205, 50, .8);;
    z-index: 1;
  }
  .DropDownMenu a {
    color: limegreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .nav_links li a {
    transition: all 0.3s ease 0s;
  }
  .dropdown-content a:hover {background-color: rgba(50, 205, 50, .8);}
  .show {display:block;}

button {
    padding: 9px 25px;
    background-color: rgba(50, 205, 50, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(50, 205, 50, 0.8);
}
.welcome {
    text-align: center;
    justify-content: space-around;
    padding: 50px;
}
.contact {
    text-align: center;
    justify-content: space-around;
}
.mobile menu {
    margin-right: 0;
    margin-top: 75px;
    height: 150px;
    width: 100px;
    align-items: right;
}